.research {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-research {
  background-image: url('../../assets/title-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    color: #3e3a3b;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 90px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: none;
    padding-bottom: 375px;
}
.research-text {
    width: 900px;
}

.research-img{
    height: 800px;
    width: 1000px;
}

.data-color {
    color: #bb782f;
    margin-right: 20px;
}
.title-research-text {
    color: #3e3a3b;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 47px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: none;
    text-align: left;
  }

  .subtitle-research-text {
    
    padding: 20px;
    border-left: 5px solid  #bb782f;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }

  .description-research-text {
    color: #7b7b7b;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    padding-left: 50px;
  }
