.counter {
    display: flex;
    justify-content: center;
    background-color: #f2ede9;
}
.counter-animation {
    margin: 100px;
    text-align: center;
}
.number-size {
    margin-top: -50px;
    font-size: 80px;
    color: #c09669;;
}
.description-size {
    margin-top: -50px;
    padding-bottom: 100px;
}