.adventures-img{
    background-image: url('../../assets/home-background-2.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 575px;
}
.title-adventures {
    text-align: center;
    margin-top: 25px;
    font-size: 100px;
    color: #2E3034;
}
.subtitle-adventures{
    text-align: center;
    padding-top: 150px;
    color: #c09669;
    font-style: italic;
    
}