.footer-background {
    background-image: url('../../assets/home-background3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.copyright {
    padding-top: 700px;
    text-align: center;
    color: white;
}