.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h3 {
    font-style: italic;
    color: #c09669;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.destination-img {
    background-image: url('../../assets/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.list-item {
    display: flex;
    justify-content: center;
    
}
.image-item {
    width: 450px;
    height: 650px;
}
.item {
    margin: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}