@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Kalam:wght@300;400;700&display=swap');


.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h3 {
    font-style: italic;
    color: #bb782f;
    font-family: "Kalam", cursive;
    font-weight: 700;
    padding-top: 50px;
    
    font-size: 30px;
}
.h1{
    color: #3e3a3b;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 47px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: none;
}

.destination-img {
    background-image: url('../../assets/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.list-item {
    display: flex;
    justify-content: center;
    
}
.image-item {
    width: 450px;
    height: 650px;
}
.item {
    margin: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}