.video-container {
    display: flex;
    justify-content: center;
}
.video-description {
    width: 500px;
    text-align: left;
    margin-right: 50px;
    margin-top: 100px;
}
.video-player {
    margin-top: -50px;
    margin-left: 100px;
}
.subtitle-video {
    color: #c09669;
    font-style: italic;
}